/*SECTION-CAROUSEL*/
.section-carousel {
 
  .desplegable {
    background-color: #F3F4F8;
    border: 1px solid #dedede;
    margin-right: 20px;
    max-height: 400px;

    &__title{
      width: 100%;
      background-color: rgb(82, 82, 82);
      color: #fefefe;
      text-align: center;
      font-size: 1.2em;
      position: relative;
      padding-left: 1.5em;
      padding-bottom: 3px;
      text-align: left;
      }
      
    &__title::after{
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: orange;
      z-index: 9999999;
    }

    .desplegable-list{
      list-style: none;
      text-align: left;
      
        &__category-item {
          line-height: 1.8;
          padding-top: 4px;
        }
        
        &__category-link {
          font-size: 1.3em;
          color: #2e2e2e;
          text-decoration: none;
          
        }

    }

  }   

}





