.section-carrito {
    padding: 5px;
    user-select: none;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #f1f2f3;
    z-index: 1;
    width: 50%;
    top: 50px;
    right: 0px;
    width: 40vw;
   
   
    // box-shadow: .3em .3em 10em .3em rgba(0, 0, 0, 1);
    &--visible {
       display: block;
        
    }

    .carrito-container {
        width: 95%;
        margin: 10px auto;

        h3 {
            margin: 10px 10px;
        }
    }

    .carrito {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;


        .carrito__photo-container{
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
        }

        .carrito-photo {
            max-height: 200px;
            width: max(200px, 40%);
            
        }


        .carrito__info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }


    .carrito__container-button{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.3em;
    }

    .carrito-container button {
        display: inline-block;
        margin: 5px;
        width: 50%;
        height: 35px;
        font-weight: bold;
    }

    .carrito-footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.3em;

        p{
            display: block;
            width: 100%;
            text-align: center;
        }

        .total {
            width: 100%;
        }


        button  {
           
            width: 40%;
            height: 35px;
            font-weight: bold;
        }
    }

   
   

    

}


@media only screen and (min-width: 460px) {



.section-carrito{
    width: min(200px, 80%);
}




}

@media only screen and (min-width: 1024px) {



    .section-carrito{
        top: 100px;
        right: 0px;
        width: 300px;
    }
    
    
    
    }