/*********************************
            CAROUSEL
*********************************/
.carousel {
  width: 100%;
  order: 1;
  max-width: 1200px;

  .carousel-img {
    width: 100%;
    height: 100%;
    position: relative;

    &__img {
      width: 100%;
      height: 100%;
    }

    &__prev {
      display: block;
      position: absolute;
      left: 5%;
      top: calc(50% - 40px);
      font-size: 3rem;
      color: white;
      cursor: pointer;
    }
    &__next {
      display: block;
      position: absolute;
      right: 5%;
      top: calc(50% - 40px);
      font-size: 3rem;
      color: white;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .carousel {
    order: 2;
    width: 70%;
  }
}
