h1 {
  text-align: center;
}

.alta-container {
  width: min(100%, 40rem);
  margin: 0 auto;
  .alta-container__form {
    height: 100%;
    width: 100%;
    margin: 10px auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 1px solid black;
    // box-shadow: 5px 1px 7px 0px rgb(99, 99, 99);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;

    .input-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px 0;

      .validator-cartel {
        display: none;
        width: 100%;
        height: 30px;
        background-color: yellow;
        border: 2px solid red;
      }

      .alta-label {
        width: 100%;
        display: block;
        margin: 5px auto;
        font-weight: bold;
      }
      input {
        width: min(80%, 500px);
        height: 30px;
      }

      ::placeholder {
        padding-left: 5px;
      }

      #details {
        width: min(72%, 430px);
        height: 90px;
        margin-bottom: 10px;
      }

      #foto {
        width: 10em;
        margin: 5px auto;
      }
    }

    .free-shipping {
      width: 100%;
      height: 31px;
      font-weight: bold;
    }

    .alta-submit {
      width: 100%;
    }

    #submit-btn {
      width: min(80%, 50vw);
      height: 4vh;
      font-weight: bold;
    }

    .button,
    button {
      display: inline-block;
      background: #ccc;
      cursor: pointer;
      border: 5px solid #ccc;
      border-bottom: 20px;
      margin: 15px 0;
    }
  }

  #product-list {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0) 0px 50px 60px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  table {
    width: max(37vw, 120%);
    flex-direction: column;
    margin: 10px auto;
  }

  th,
  td {
    padding: 5px;
  }

  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    margin: 25px 0;
    padding: 20px;
  }

  #foto {
    display: none;
  }

  #gallery img {
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #drop-area.highlight {
    border-color: red;
  }
}
