@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

:root {
  --link-fonts-tiny: 10px;
  --link-fonts: 14px;
  --link-fonts-l: clamp(14px, 1vw, 2rem);
  --link-fonts-xl: 1.6vw;
  --link-fonts-icons: 1.7em;
  --bold-font: 600;
  --title-fonts: clamp(14px, 1em, 1.5rem);
  --title-label: 1.2em;
}

body {
  font-family: "Open Sans", sans-serif;
}
