@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

:root {
  --link-fonts: 1em;
  --link-fonts-l: 1.3vw;
  --link-fonts-xl: 1.5vw;
  --bold-font: 700;
  --title-fonts: clamp(3vh, 2em, 4vw);
}

body {
  font-family: "Open Sans", sans-serif;
}
