/*HEADER*/
/*SECTION-CAROUSEL*/
.section-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .desplegable {
    padding-bottom: min(3vh, 5px);
    width: 100%;
    background-color: #f3f4f8;
    order: 2;

    &__title {
      width: 100%;
      background-color: rgba(51, 48, 48, 0.89);
      color: #fefefe;
      text-align: center;
      font-size: var(--title-fonts);
      position: relative;
      padding-top: 5px;
      padding-bottom: 10px;
      text-align: center;
    }

    &__title::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: orange;
      z-index: 9999999;
    }

    .desplegable-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-align: left;
      margin-left: 15px;
      margin-top: 5px;

      &__category-item {
        display: flex;
        width: 100%;
        align-items: center;
        height: 30px;
      }

      :nth-child(3) {
        display: none;
      }
      :nth-child(4) {
        display: none;
      }
      :nth-child(5) {
        display: none;
      }
      :nth-child(6) {
        display: none;
      }

      &__category-link {
        display: flex;
        align-items: center;
        font-size: var(--link-fonts);
        font-weight: var(--bold-font);
        color: #2e2e2e;
        text-decoration: none;
        position: relative;

        .more-categories {
          margin-right: 5px;
        }
      }

      &__category-link::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0px;
        width: 0;
        height: 3px;
        background-color: orange;
        z-index: 9999999;
        transition: 0.3s;
      }

      &__category-link:hover {
        color: #cb28d1;
      }

      &__category-link:hover::after {
        width: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 350px;

      .desplegable {
        width: min(250px, 20%);
        height: min(350px, 100%);

        .desplegable-list li:nth-child(3) {
          display: block;
        }
        .desplegable-list li:nth-child(4) {
          display: block;
        }
        .desplegable-list li:nth-child(5) {
          display: block;
        }
        .desplegable-list li:nth-child(6) {
          display: block;
        }
        &__title {
          border-top-left-radius: 2px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    & {
      height: 400px;
      width: 80%;
      margin: 0 auto;
      padding: 0;
      gap: 15px;

      .desplegable {
        height: min(350px, 100%);
        margin: 0;
        border-radius: 15px;

        :nth-child(3) {
          display: block;
        }
        :nth-child(4) {
          display: block;
        }
        :nth-child(5) {
          display: block;
        }
        :nth-child(6) {
          display: block;
        }

        &__title {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        .desplegable-list {
          &__category-item {
          }

          &__category-link {
          }
        }
      }
    }
  }

  @media (min-width: 1250px) {
    & {
      .desplegable {
        margin: 0;

        &__title {
          padding-top: 10px;
        }

        .desplegable-list {
          &__category-item {
            font-size: var(--link-fonts-xl);
          }
        }
      }
    }
  }
}
/*MAIN*/
/*SECTION-CARDS*/
.section-cards {
  color: white;
  width: 100%;
  margin: 40px auto;
  border: 2px solid #f3f4f8;

  h1,
  p {
    color: black;
  }

  &__header {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 10px;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }

  @media (min-width: 768px) {
    & {
      width: 80%;
      margin: 20px auto;
      border-radius: 5px;

      .cards-container {
        width: 100%;
        border-radius: 5px;
        margin: 0;
        padding: 10px;
        justify-content: space-evenly;
      }
    }

    @media (min-width: 1024px) {
      & {
        width: 80%;
        margin: 0 auto;

        .cards-container {
          justify-content: center;
          gap: 2em;
        }
      }
    }
  }
}
