.section-cards {
  width: 100%;
  color: white;
  border: 1px solid #DEDEDE;

  h1, p{
    color: black;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #fefefe;
  }

}



@media (min-width: 1200px) {
  .cards-container {
    gap: 3em;
  }
}
